.header{
	@include clearfix;
	border-bottom: 1px solid #70bb2a;
	&_left{
		float: left;
		width: 25%;
		@include m980{
			float: none;
			width: 100%;
		}
	}
	&_center{
		float: left;
		width: 20%;
		@include m980{
			float: none;
			width: 100%;
		}
	}
	&_right{
		float: left;
		width: 55%;
		@include m980{
			float: none;
			width: 100%;
		}
	}
}