.menubottom{
	background-color: #70bb2a;
	padding: 1px 0;
  @include m980{
    display: none;
  }
	&_list{
		font-family: $regular;
		font-size: 18px;
    text-align: justify;
    line-height: 0;
    font-size: 1px; /* 1px для Opera */
    @include old-ie{
    	*text-justify: newspaper;
    	*zoom:1;
    }
    text-align-last: justify;
    &:after{
    	width: 100%;
      height: 0px;
      visibility: hidden;
      overflow: hidden;
      content: '';
      display: inline-block;
    }
	}
	&_item{
    display: inline-block; 
    text-align: left;
    border-top: 3px solid #70bb2a;
    border-bottom: 3px solid #70bb2a;
    /* Востанавливаем у потомков, кроме последнего*/
    line-height: normal;
    font-size: 18px;
    /* Без него в Opera будет отступ под элементами */
    vertical-align: top;
    transition: border, 0.2s;
    &:hover{
    	border-top: 3px solid #fff;
    	border-bottom: 3px solid #fff;
    }
		@include old-ie{
      *display : inline;
      *zoom : 1;
  	}
	}
	&_link{
		@include link(#fff, #fff);
		text-decoration: none;
		display: inline-block;
		padding: 24px 0 23px;
	}
}