.reviews{
	padding: 15px 30px 57px 30px;
	margin-top: -15px;
	overflow: hidden;
	position: relative;
	@include m480{
		padding: 15px 15px 0 15px;
	}
	&:before{
		content: '';
		height: 100%;
		width: 15px;
		background-color: #fff;
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		display: block;
		@include m480{
			display: none;
		}
	}
	&:after{
		content: '';
		height: 100%;
		width: 15px;
		background-color: #fff;
		position: absolute;
		z-index: 1;
		right: 0;
		top: 0;
		display: block;
		@include m480{
			display: none;
		}
	}
	.lSSlideOuter{
		overflow: visible;
	}
	.lSSlideWrapper{
		overflow: visible;
	}
	.lightSlider{
		overflow: visible;
	}
	&_item{
		max-width: 33.33%;
		overflow: hidden;
		border-radius: 10px;
		box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
		padding-bottom: 40px;
		@include m980{
			width: 100%;
			max-width: none;
			border-radius: 0;
			margin-bottom: 53px!important;
		}
	}
	&_list{
		@include clearfix;
		padding: 0 15px;
	}
	ul{
		padding: 0;
		li{
			position: static;
			margin: 0;
			&:before{
				display: none;
			}	
		}
	}
	&_image{
		img{
			display: block;
			width: 100%;
			height: auto;
		}
		@include m980{
			float: left;
			width: 200px;
			margin-right: 15px;
		}
		@include m480{
			float: none;
			margin: 10px auto;
		}
	}
	&_text{
		padding: 40px 15px 22px 24px;
		@include m980{
			padding: 5px 15px 22px 24px;
		}
		p{
			font-family: $italic;
		}
	}
	&_name{
		font-family: $regular;
		padding: 0 0 0 24px;
		margin-bottom: 17px;
		@include m980{
			text-align: center;
		}
	}
	&_more{
		margin: 0 0 0 24px;
		@include m980{
			display: block;
			text-align: center;
		}
	}
}