.user-content{
	padding: 0 0 0 0;
	max-width: $maxWidth;
	margin: 0 auto;
	.front &{
		padding: 3px 0 0 0;
	}
	a{
		font-family: $italic;
		@include link($lc, darken($lc, 10%));
	}
	h1{
		text-align: center;
		font-family: $bold;
		background-color: #70bb2a;
		font-size: 25px;
		color: #f7f7f7;
		padding: 20px 0;
		margin-bottom: 50px;
		.front &{
			width: 48.8%;
			margin: 0;
			@include m980{
				width: 100%;
			}
		}
	}
	h2, h3, h4, h5{
		font-family: $bold;
		margin-top: 33px;
		margin-bottom: 5px;
		line-height: $lh;
		.front &{
			font-size: $fsm;
		}
	}
	p{
		font-family: $font;
	  font-size: $fsl;
	  line-height: $lh;
	  .front &{
			font-size: $fsm;
		}
	}
	ul{
		padding-top: 5px;
		padding-left: 19px;
		li{
			line-height: 31px;
			margin-bottom: 5px;
			position: relative;
			.front &{
				font-size: $fsm;
			}
			&:before{
				content: '';
				position: absolute;
				display: block;
				margin-top: -1px;
				left: -20px;
				top: 50%;
				width: 6px;
				height: 6px;
				background-color: #70bb2a;
				border-radius: 50%;
			}
		}
	}
}