.wfs{
	display: inline-block;
	background:transparent url('../images/wfs.png') left top no-repeat;
	margin: 64px 0 0 107px;
	padding: 3px 0 0 116px;
	height: 22px;
	text-decoration: none;
	@include link(#585858, #585858);
	font-size: $fsm;
	@include m980{
		margin: 10px 0 15px 0;
	}
}