$font: 'light';
$bold: 'medium';
$bolder: 'bold';
$regular: 'regular';
$italic: 'italic';
$fsl: 18px;
$fsm: 16px;
$lh: 31px;
$fc: #585858;
$lc: #70bb2a;
//$hc: #333232;
$maxWidth: 1170px;
$minWidth: 240px;
$innerPadings: 0 30px;
$innerPadings2: 0 15px;